<!DOCTYPE html>
<html ng-app='store'>

<head>
    <meta charset="utf-8">
    <title>Shopular</title>
    <link href='node_modules/normalize.css/normalize.css' rel='stylesheet' type='text/css'>
    <link href='style.css' rel='stylesheet' type='text/css'>
<style>  [ng-cloak] {
                display: none;
            }
            /*input:invalid, select:invalid {
                border: 1px solid red;
            }*/
            .ng-invalid.ng-touched {
                border: 1px solid red;
            }</style>

</head>

<body>

    <header>
        <h1>Shopular</h1>
        <h2>Our Inventory</h2>
    </header>
    <main ng-controller='storeDataController as sale'>
        <table>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Color</th>
            </tr>
            <tr ng-repeat='item in sale.inventory' ng-class='{onSale: (item.discount > 0)}' ng-class=>

                <td>{{item.name}}</td>
                <td>{{(item.price - item.discount)* sale.tax | number: 0}}
                    <img src='https://tiy-learn-content.s3.amazonaws.com/98350f05-sale_2.png' ng-hide='item.discount === 0'></td>
                <td>{{item.quantity}}</td>
                <td>{{item.color}}</td>


            </tr>
        </table>
        <form
          novalidate
          class='addItem' name='items' ng-submit='items.$valid && sale.addProduct(sale.newItem)'>
            <p ng-show='items.name.$touched && !items.name.$valid'>
                    Please enter a Name!
            </p>
            <input type='text' name='name' placeholder='Name..' ng-model='sale.newItem.name' required>
            <p ng-show='items.price.$touched && !items.price.$valid'>
                    Please enter a Price!
            </p>
            <input type='text' name='price' placeholder='Price..' ng-model='sale.newItem.price' required>
            <p ng-show='items.quantity.$touched && !items.quantity.$valid'>
                    Please enter a Quantity!
            </p>
            <input type='text' name='quantity' placeholder='Quantity..' ng-model='sale.newItem.quantity' required>
            <p ng-show='items.color.$touched && !items.color.$valid'>
                    Please enter a Color!
            </p>
            <input type='text' name='color' placeholder='Color..' ng-model='sale.newItem.color' required>
            <p ng-show='items.discount.$touched && !items.discount.$valid'>
                    Please enter a Dicount!
            </p>
            <input type='text' name='discount' placeholder='Discount..' ng-model='sale.newItem.discount' required>
            <button name='items'>Add Item</button>
        </form>


    </main>



    <script src="node_modules/angular/angular.js"></script>
    <script src="js/store.module.js"></script>
    <script src='js/storeData.controller.js'></script>

</body>

</html>
